font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;

html, body {
    font-family: 'Roboto';
}

.md-title {
    display: inline-block;
    margin-right: 18px;
}

.app-title {
    font-family: 'Open Sans';
}

.md-toolbar-tools h2 {
    font-family: 'Open Sans';
    margin-right: 18px;
}

.layout-padding {
    padding: 18px;
}

.md-button {  
    text-transform: none !important;
}

#create-button {
    color: #fff;
}


