<div>
  <md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
      <h2 class="md-title">Edit user</h2>
    </div>
  </md-toolbar>

  <md-content layout-padding>

    {{user=userEdit.user;""}}    
    
    {{emailPattern=userEdit.emailPattern;""}}

    {{passwordPattern=userEdit.passwordPattern;""}}

    <p>User Id: {{user.UserId}}</p>
    <p>Username: {{user.Username}}</p>

    <form name="form" novalidate ng-submit="userEdit.edit()">

      <div ng-include="'/Views/Partials/form.html'"></div>

      <div layout="row">
        <md-button href="/" class="md-raised">Cancel</md-button>
        <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid">Save</md-button>
      </div>

    </form>
  </md-content>

</div>